.container {
	margin: auto;
	width: 400px;
}

.message {
	font-size: xx-large;
	margin: auto;
	text-align: center;
	position: relative;
	top: -200px;
}

.gameOver {
	composes: message;
	color: red;
}

.congratulations {
	composes: message;
	color: green;
}

.newGame {
	clear: both;
	text-align: center;
}
